/* ------- リセット ------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    vertical-align: center;
    font-family: "Meiryo", "ヒラギノ丸ゴ ProN W4", "sans-serif";
    letter-spacing: 0.05em;
    text-indent: 0.05em;
}

/* input要素のスタイルリセット */
input[type="button"], input[type="submit"], input[type="text"] {
    -webkit-appearance: none;
}


/* ------- 共通の色の設定 ------- */
:root {
    --main-color: #8B9BA8;
    --main-font-color: #FCFFFA;
    --transparent: rgba(255,255,255,0);
    --hover: rgb(248, 194, 69);
    --active: #FFC436;
    --disabled: #3B4B58;
}


/* ------- 共通部分 ------- */
a {
    color: var(--main-font-color);
    text-decoration: none;
    }

select {
    height: 28px;
    padding: 3px;
}


/* ------- 全体 ------- */
.wrapper {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 80px;
    /* ------- background-color: var(--main-color); ------- */
    background: linear-gradient(180deg,#205375,#22577E,#F66B0E);
    color: var(--main-font-color);
    text-align: center;
}

.wrapper h2 {
    font-size: 24px;
    font-weight: normal;
}

.wrapper h3 {
    font-size: 20px;
    font-weight: normal;
}

.wrapper h4 {
    font-size: 18px;
    font-weight: normal;
}

header {
    padding: 30px 0px;
}

.container {
    max-width: 800px;
    min-height: 90vh;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
}

.container p {
    line-height: 36px;
}


/* ------- プルダウン関連の設定 ------- */
.pulldown-area {
    height: 70px;
    padding-top: 10px;
    text-align: center;
    line-height: 30px;
}

.pulldown {
    height: 35px;
    padding: 1px;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}


/* ------- ボタン関連の設定 ------- */
.button-area {
    margin: 20px 0px;
}

.buttons-area {
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
}

.btn-in-form {
    display: inline;
    width: 100%;
    height: 100%;
    background-color: var(--transparent);
    color: var(--main-font-color);
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.2em;
    text-indent: 0.2em;
    cursor: pointer;
    appearance: none;
}

.btn-in-form:hover {
    color: var(--hover);
    transition: 0.5s;
}

.btn-in-form:active {
    color: var(--active);
    transition: 0.3s;
}

.btn {
    display: block;
    margin: 0 auto;
    padding: 5px 20px;
    border: 1px solid var(--main-font-color);
    background-color: var(--transparent);
    color: var(--main-font-color);
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.5em;
    text-indent: 0.5em;
    cursor: pointer;
    appearance: none;
}

.btn:hover {
    border: 1px solid var(--hover);
    color: var(--hover);
    transition: 0.5s;
}

.btn:active {
    border: 1px solid var(--active);
    color: var(--active);
    transition: 0.3s;
}

.btn:disabled {
    border: 1px solid var(--disabled);
    color: var(--disabled);
    cursor: default;
}

.narrow {
    width: 40%;
    max-width: 200px;
    letter-spacing: 0.2em;
    text-indent: 0.2em;
}

.narrow3 {
    width: 30%;
    max-width: 180px;
    letter-spacing: 0.2em;
    text-indent: 0.2em;
}

@media screen and (max-width:778px) {
    .btn-in-form {
        letter-spacing: 0.1em;
        text-indent: 0.1em;
    }

    .narrow3 {
        width: 25%;
        letter-spacing: 0.1em;
        text-indent: 0.1em;
    }
}


/* ------- 記事リスト関連の設定 ------- */
.list table {
    margin: 0 auto;
}

.list table th, td {
    line-height: normal;
    min-width: 120px;
    padding: 0 12px;
}

.list table td {
    padding: 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0; 
    animation: fadeIn 0.1s ease-in-out forwards; 
}

.list table td a:hover {
    color: var(--active);
    transition: 0.5s;
}

.hide-when-small {
    display: table-cell;
}

@media screen and (max-width:560px) {
    .hide-when-small {
        display: none;
    }
}

/* ------- 記事詳細エリア関連の設定 ------- */
.detail {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.detail h3 {
    margin: 7px;
}

.detail-contents {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
    line-height: 30px;
    text-align: left;
    overflow-wrap: break-word;
}

.detail-attachment {
    width: 80%;
    line-height: 60px;
}

.detail-contents a:hover {
    color: var(--active);
    transition: 0.5s;
}

.detail-contents p {
    line-height: 24px;
}

@media screen and (max-width:778px) {
    .detail-contents {
        width: 90%;
    }

    .detail-contents a {
        width: 90%;
    }
}


/* ------- 記事編集エリア関連の設定 ------- */
.article-area {
    width: 80%;
    margin: 0 auto;
}

.article-area table {
    margin: 0 auto;
    margin-bottom: 20px;
}

.article-area table tr {
    margin: 10px;
    height: 40px;
    line-height: 27px;
}

.article-area table th {
    width: 100px;
    text-align: center;
}

.article-area table td {
    text-align: left;
}

.article-area table td input {
    width: 100%;
    padding: 3px;
    line-height: 24px;
}

.article-area table td textarea {
    width: 100%;
    height: 150px;
    margin: 7px 0px;
    padding: 3px;
    vertical-align: middle;
}

.article-area table p {
    line-height: normal;
}

.article-area a:hover {
    color: var(--active);
    transition: 0.5s;
}

