/* リセット */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    vertical-align: center;
    font-family: "Meiryo", "ヒラギノ丸ゴ ProN W4", "sans-serif";
    letter-spacing: 0.05em;
    text-indent: 0.05em;
}

:root {
    --main-color: #8B9BA8;
    --main-font-color: #FCFFED;
    --emphasis: #FFC436;
    --disabled: #3B4B58;
}

a {
    color: var(--main-font-color);
    text-decoration: none;
    }

.wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: var(--main-color);
    color: var(--main-font-color);
    text-align: center;
}

.wrapper h3 {
    font-size: 18px;
    font-weight: normal;
}

header {
    padding: 30px 0px;
}

.container {
    max-width: 600px;
    /* height: 600px; */
    min-height: 700px;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
}

.container p {
    line-height: 36px;
}

.verticalmargin {
    margin: 20px 0px;
}

.button-area {
    display: flex;
    justify-content: space-around;
    height: 45px;
    padding: 5px;
}

.pulldown-area {
    height: 70px;
    padding-top: 10px;
    text-align: center;
    line-height: 30px;
}

.pulldown {
    padding: 1px;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

@media screen and (max-width:428px) {
    
}

.btn {
    display: block;
    margin: 0 auto;
    padding: 5px 20px;
    border: 1px solid var(--main-font-color);
    background-color: var(--main-color);
    color: var(--main-font-color);
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.5em;
    text-indent: 0.5em;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid var(--emphasis);
    color: var(--emphasis);
    transition: 0.5s;
}

.btn:disabled {
    border: 1px solid var(--disabled);
    color: var(--disabled);
    cursor: default;
}

/* .left {
    float: left;
}

.right {
    float: right;
} */

.narrow {
    width: 40%;
    max-width: 200px;
    letter-spacing: 0.2em;
    text-indent: 0.2em;
}

.list {
    /* background-color: white;
    color: var(--main-color); */
}

.list table {
    margin: 0 auto;
}

.list table th, td {
    display: flexbox;
    justify-content: space-between;
    line-height: 36px;
    min-width: 100px;
    padding: 0 12px;
}

.list table td a:hover {
    color: var(--emphasis);
    transition: 0.5s;
}

.article-area {
    width: 80%;
    margin: 0 auto;
}

.article-area table {
    margin-bottom: 15px;
}

.article-area table th {
    width: 100px;
    text-align: center;
}

.article-area table td {
    text-align: left;
}

.article-area table td input {
    width: 100%;
}

.article-area table td textarea {
    width: 100%;
    height: 150px;
    margin: 7px 0px;
    vertical-align: middle;
}

.article-area table p {
    line-height: normal;
}

