<div>
    <a href="{% url 'main:index' %}">ホームに戻る</a>
</div>

<h4>{{ article.title }}</h4>
<div>
    {{ article.text | linebreaks | urlize }}

    {% if article.url_link %}
    <p>リンク</p>
    {{ article.url_link | linebreaks | urlize }}
    {% endif %}

    {% if article.attached_file %}
    <div>
        <a href="{{ article.attached_file.url }}" target="_blank">添付ファイルを見る</a>
    </div>
    {% endif %}
</div>

<div>
    <button class="btn">
        <a href="{% url 'main:edit_article' article.pk %}">編集</a>
    </button>
</div>

<form method="post" action="{% url 'main:delete_article' article.pk %}">{% csrf_token %}
    <button class="btn" type="submit" onclick='return confirm("穏当に削除しますか？");'>削除</button>
</form>