{% extends 'main/base.html' %}

{% block content %}

<div class="detail">
    <h3>{{ article.title }}</h3>
    <h4>投稿者　：　{{ article.author }}</h4>
</div>
<div class="detail-contents">
    {{ article.text | linebreaks | urlize }}
    <br>
    {% if article.attached_file %}
    <div class="detail-attachment">
        <a href="{{ article.attached_file.url }}" target="_blank">【添付ファイルを見る】</a>
    </div>
    {% endif %}

    <p>テーマ：{{ article.get_theme_display }}</p>
    <p>投稿日時：{{ article.created_datetime }}<p>
    <p>最終更新／承認日時：{{ article.edited_datetime }}</p>
</div>

<div class="buttons-area">

    <a class="btn narrow3" href="{% url 'main:index' %}">戻る</a>
    
    <a class="btn narrow3" href="{% url 'main:edit_article' article.pk %}">編集</a>

    <form class="btn narrow3 cancelpadding" method="post" action="{% url 'main:delete_article' article.pk %}">{% csrf_token %}
        <button class="btn-in-form delete-text" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
    </form>

</div>

{% endblock %}