{% extends 'main/base.html' %}

{% block content %}

<div class="article-area">
  <form id="article_input_form" action="{% url 'main:edit_article' article.pk %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <table>
      <tr>
        <th>タイトル</th>
        <td>{{ form.title }}</td>
      </tr>
      <tr>
        <th>名前</th>
        <td>{{ form.author }}</td>
      </tr>
      <tr>
        <th>テーマ</th>
        <td>{{ form.theme }}</td>
      </tr>
      <tr>
        <th>本文</th>
        <td>{{ form.text }}</td>
      </tr>
      <tr>
        <th>添付ファイル</th>
        <td class="textmessage">
          <p>添付ファイルの追加・修正はできません。</p> 
          <p>追加・修正する場合は記事を再作成してください。</p>
          {% if article.attached_file %}
              <a href="{{ article.attached_file.url }}" target="_blank">添付ファイルを見る</a>
          {% endif %}
        </td>
      </tr>
      <!-- {% if user.is_staff %} -->
      <tr>
        <th>ステータス</th>
        <td>{{ form.status }}</td>
      </tr>
      <!-- {% endif %} -->
    </table>
      
    <div class="buttons-area">
      <a class="btn narrow" href="{% url 'main:index' %}">キャンセル</a>
      <button type="submit" class="btn narrow" id="saveButton">更新</button>
    </div>

  </form>
</div>

  {% if form.errors %}
  <ul class="errorlist">
    {% for field, errors in form.errors.items %}
      <li>{{ field }}: {{ errors.0 }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <script type="text/javascript">
    // フォームの内容が変更されたとき保存ボタンを使用可能とする
    const form = document.getElementById('article_input_form')
    const saveButton = document.getElementById('saveButton')

    const originalFormData = new FormData(form); 
    saveButton.disabled = true;  // 初期値はボタン使用不可
    console.log(originalFormData)

    form.addEventListener('input', () => {
      const currentFormData = new FormData(form);
      const formNotChanged = compareFormData(originalFormData, currentFormData)
      saveButton.disabled = formNotChanged
    })

    function compareFormData(formData1, formData2){
      for (const [key, value] of formData1.entries()){
        if (formData2.get(key) !== value){
          return false;
        }
      }
      return true;
    }

  </script>
  
  {% endblock %}