<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>記事投稿</title>
</head>
<body>
  <div>
    <a href="{% url 'main:index' %}">ホームに戻る</a>
  </div>
  
  <form id="article_input_form" action="{% url 'main:edit_article' article.pk %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <table>
      <tr>
        <th>タイトル</th>
        <td id="title">{{ form.title }}</td>
      </tr>
      <tr>
        <th>名前</th>
        <td>{{ form.author }}</td>
      </tr>
      <tr>
        <th>テーマ</th>
        <td id="theme">{{ form.theme }}</td>
      </tr>
      <tr>
        <th>本文</th>
        <td id="text">{{ form.text }}</td>
      </tr>
      <!-- <tr>
        <th>URLリンク</th>
        <td>{{ form.url_link }}</td>
      </tr> -->
      <tr>
        <th>添付ファイル</th>
        <td>
          添付ファイルの修正はできません。追加・修正する場合は記事を再作成してください<br>
          {% if article.attached_file %}
              <a href="{{ article.attached_file.url }}" target="_blank">添付ファイルを見る</a>
          {% endif %}
        </td>
      </tr>
    </table>
    <button type="submit" class="btn" id="saveButton">保存</button>
  </form>

  {% if form.errors %}
  <ul class="errorlist">
    {% for field, errors in form.errors.items %}
      <li>{{ field }}: {{ errors.0 }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <script type="text/javascript">
    const form = document.getElementById('article_input_form')
    const saveButton = document.getElementById('saveButton')

    const originalFormData = new FormData(form); 
    saveButton.disabled = true;
    console.log(originalFormData)

    form.addEventListener('input', () => {
      const currentFormData = new FormData(form);
      const formNotChanged = compareFormData(originalFormData, currentFormData)
      saveButton.disabled = formNotChanged
    })

    function compareFormData(formData1, formData2){
      for (const [key, value] of formData1.entries()){
        if (formData2.get(key) !== value){
          return false;
        }
      }
      return true;
    }

  </script>
  
</body>
</html>