{% extends 'main/base.html' %}

{% block content %}

    <!-- ユーザー認証できていたらページを表示する -->
    {% if request.user.is_authenticated %}

        <div class="button-area">
            <!-- 新規投稿 -->
            <a class="btn left" href="{% url 'main:new_article' %}">新規投稿</a>

            <!-- ログアウト -->
            <form action="{% url 'main:logout' %}" method="post">{% csrf_token %}
                <button type="submit" class="btn right">ログアウト</button>
            </form>
        </div>

        <div class="pulldown-area">
            <!-- テーマ絞込みプルダウン -->
            <label for="themeFilter">テーマで絞り込み：</label>
            <select id="themeFilter" name="theme">
                <option value="all" selected>全て</option>
                <option value="useful">お役立ち情報</option>
                <option value="diseases">病気・障害について</option>
                <option value="learning">学習情報</option>
                <option value="others">その他</option>
            </select>

            <!-- スタッフがログインした場合のみ、ステータス絞込みプルダウンを表示 -->
            {% if user.is_staff %}
                <label for="statusFilter">ステータスで絞り込み：</label>
                <select id="statusFilter" name="status">
                    <option value="all">全て</option>
                    <option value="DRAFT">未承認</option>
                    <option value="APPROVED" selected>承認済</option>
                    <option value="DELETED">削除済</option>
                </select>
            {% endif %}
        </div>

        <script type="text/javascript">
            function updateFilters() {
                const status = document.getElementById('statusFilter').value;
                const theme = document.getElementById('themeFilter').value;

                // テンプレートファイルからリスト部分を読み込んで置き換える
                fetch(`/list/?status=${status}&theme=${theme}`)
                    .then(response => response.text())
                    .then(data => {
                        const listContainer = document.getElementById('articleList');
                        listContainer.innerHTML = data;
                    });
            }
            
            // プルダウンメニューが変更された際のイベントリスナー
            document.getElementById('statusFilter').addEventListener('change', updateFilters);
            document.getElementById('themeFilter').addEventListener('change', updateFilters);
        </script>

        <!-- 記事リスト表示部分 -->
        {% include 'main/list.html' %}


    {% else %}
    <p>このページは表示できません。ログインページよりログインしてください。</p>

    {% endif %}

{% endblock %}
