<div class="list" id="articleList">
    <p>----------------------------------------</p>
    {% if articles %}
    <div>
        <table>
            <tr class="list-heading">
                <th>投稿者</th>
                <th>タイトル</th>
                <th>投稿日時</th>
                {% if user.is_staff %}
                <th>ステータス</th>
                {% endif %}
            </tr>
            {% for article in articles %}
            <tr class="fade-in">
                <td>
                    {{ article.author }}
                </td>
                <td>
                    <a href="{% url 'main:detail' article.id %}">
                        {{ article.title }}
                    </a>
                </td>
                <td>
                    {{ article.created_datetime | date:"Y-m-j"}}
                </td>
                {% if user.is_staff %}
                <td>
                    {{ article.status}}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
        <p class="fade-in">{{ no_results_message }}</p>
    {% endif %}
    <p>----------------------------------------</p>

</div>
