{% extends 'main/base.html' %}

{% block content %}

<div class="article-area">
  <form action="{% url 'main:new_article' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <table>
      <tr>
        <th>タイトル</th>
        <td>{{ form.title }}</td>
      </tr>
      <tr>
        <th>名前</th>
        <td>{{ form.author }}</td>
      </tr>
      <tr>
        <th>テーマ</th>
        <td>{{ form.theme }}</td>
      </tr>
      <tr>
        <th>本文</th>
        <td>{{ form.text }}</td>
      </tr>
      <tr>
        <th>添付ファイル</th>
        <td>{{ form.attached_file }}</td>
      </tr>
      <!-- {% if user.is_staff %} -->
      <tr>
        <th>ステータス</th>
        <td>{{ form.status }}</td>
      </tr>
      <!-- {% endif %} -->
      <!-- <tr>
        <th>パスコード</th>
        <td>{{ form.passcode }}</td>
      </tr> -->
    </table>
  
    <div class="button-area">
      <a class="btn narrow" href="{% url 'main:index' %}">キャンセル</a>
      <button type="submit" class="btn narrow">投稿</button>
    </div>

  </form>
</div>

  {% if form.errors %}
  <ul class="errorlist">
    {% for field, errors in form.errors.items %}
      <li>{{ field }}: {{ errors.0 }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  
{% endblock %}
