<div>
    <a href="{% url 'main:index' %}">ホームに戻る</a>
  </div>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    <script>
      // メッセージが表示された後にリダイレクトする
      setTimeout(function() {
        window.location.href = "{% url 'main:index' %}";
      }, 5000);  // 5000ミリ秒（5秒）待機
    </script>
  {% endif %}


  <form action="{% url 'main:new_article' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <table>
      <tr>
        <th>タイトル</th>
        <td>{{ form.title }}</td>
      </tr>
      <tr>
        <th>名前</th>
        <td>{{ form.author }}</td>
      </tr>
      <tr>
        <th>テーマ</th>
        <td>{{ form.theme }}</td>
      </tr>
      <tr>
        <th>本文</th>
        <td>{{ form.text }}</td>
      </tr>
      <tr>
        <th>URLリンク</th>
        <td>{{ form.url_link }}</td>
      </tr>
      <tr>
        <th>添付ファイル</th>
        <td>{{ form.attached_file }}</td>
      </tr>
    </table>
    <button type="submit" class="btn">保存</button>
  </form>

  {% if form.errors %}
  <ul class="errorlist">
    {% for field, errors in form.errors.items %}
      <li>{{ field }}: {{ errors.0 }}</li>
    {% endfor %}
  </ul>
  {% endif %}